<% for(var i=0;i<post.length;i++) { %>
<div>
    <div class="col-xs-6 col-md-3">
        <a href='/p/<%= post[i].pid %>' class="thumbnail">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td align="center"><div class="user-head"><img src=<%= post[i].userHead %> alt="..."></div></td></td>
                        </tr>
                        <tr>
                            <td align="center"><p><%= post[i].nickname %></p></td>
                        </tr>
                    </table>

                    <td><div style="width:550px"><h3><%= post[i].title %></h3><%- post[i].content %></div></td>
                    <td><span class="fui-heart-24"><span><span class="fui-heart-24"></span></span></td>
                        <td>
                                                   </td>
                    </tr>
                </table>
            </a>
        </div>
    </div>

    <% } %>
    <script>           
        function makevote(clas,attr){
            $(clas).click(function(event){
                event.preventDefault();
                event.stopPropagation();
                //需要重写。。。
                var counter= $(clas).eq(0).parent().parent().children(1).eq(0).children(0)
                counter.text(Number(counter.text())+1);
                var arr = this.href.split(/\//);
                $.post('/'+arr[arr.length-2]+attr);
            })
        }

        $(document).ready(function(){
            makevote('.arrowup','/good');
            makevote('.arrowdown','/bad');
        })
    </script>
